@charset "UTF-8";

.main-container {
  height: 100vh;
}

.main {
  position: relative;
  transform: translate(0, -50%);
  top: 50%;
}

.bx-shadow {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  border: none;
  border-radius: 18px;
  overflow: hidden;
  background: #fff;
}

.login-img {
	vertical-align: bottom;
}

.cc-tag {
    text-decoration: none;
    transition: text-decoration 0.5s linear;
}

.cc-tag:hover {
    text-decoration: underline !important ;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
	left: -50px;
}

[part="preset-1"] .page-link{
    color: inherit !important;
 }
 
.paginate_button .page-item.active .page-link {
    color: #ffffff !important;
}  
.dataTables_wrapper .dataTables_paginate .paginate_button {
    border: none !important;
    padding: 0 !important; 
    text-decoration: none !important;
    background-color: inherit  !important;
    background: inherit  !important;
    margin-left: 0px !important;
    color: #ffffff !important;
  }
  
  .page-item.active .page-link {
    color: #ffffff !important;
  }

  [part="preset-1"] .page-link:hover {
    background: #008cff;
    border: 1px solid #008cff;
  }
  
  div.dataTables_wrapper div.dataTables_length select {
    width: 68px !important;
  }
  
  .profileImg {
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
    border-radius: 50%;
    width: 200px;
    height: 200px;
 }